{% extends 'base.html' %}

{% block header %}
  {% if g.user %}
    <form method="post" enctype="multipart/form-data" action="upload" name="file_upload" id="upload_form">
      <label for="expires">Expires at (UTC):</label>
      <input type="datetime-local" id="expires" name="expires" required>
      <label for="file">Choose File</label>
      <input type="file" name="file" id="file" required>
      <input type="submit" value="Upload">
    </form>
  {% endif %}
{% endblock %}

{% block content %}
  {% if g.user %}
    <div id="link-container">
    {% for file in files %}
      <a href="{{ url_for('home.file_page', filename=file['filename']) }}"></a><br>
    {% endfor %}
    </div>
  {% endif %}
{% endblock %}